body {
  background: white;
}
p {
  color: plum;

}
h1 {
  font-weight: bold;
  color:forestgreen;
  
  
}
ul {
  color: plum;
  margin:20px;
  padding:15px;
  
  
}
h2 {
  color: mediumseagreen;
}
img{
  width:245px;
}
